body{
    text-align: center;
    background-color: #31418f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1{ 
    font-size: 90px;
    color: #eeeeee;
    text-transform: uppercase;
    transition: 0.5s;
}

h2{
    font-size: 50px;
    margin-top: 5%;
    color: #eeeeee;
    text-decoration: underline;
    transition: 0.5s;
}

p{
    font-size: 36px;
    color: #eeeeee;
    margin-top: 5%;
}

input{
    margin-top: 2%;
    background: transparent;
    border: 10px solid #8758FF;
    border-radius: 25px;
    color: #eeeeee;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 80px;
    text-align: center;
    height: 22px;
    padding: 2% 1%;
    vertical-align: middle;
    width: 30%;
    transition: 0.5s;
}

input:hover{
    border-color: #F0E161;
}

input:focus{
    outline: 5px solid #D9CB50;
    border-color: #eeeeee;
    transition: 0.1s;
}

button{
    margin-top: 2%;
    padding: 1.5% 0.5%;
    text-align: center;
    width: 25%;
    color: #E94560;
    background: none;
    border: 4px solid;
    font-size: 25px;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

button:hover{
    background-color: #E94560;
    border-color: #E94560;
    color: #eeeeee;
    cursor: pointer;
}

@media screen and (max-width: 1334px) {
    input{
        width: 40%;
        height: 50px;
    }

    h2{
        margin-top: 10%;
        font-size: 40px;
    }

    h1{
        font-size: 72px;
    }

    button{
        width: 40%;
        padding: 2% 1%;
    }
}

@media screen and (max-width: 1048px) {
    button{
        width: 50%;
        padding: 2.5% 1.5%;
    }
}

@media screen and (max-width: 1048px) {
    button{
        margin-top: 5%;
    }
}

@media screen and (max-width: 900px) {
    input{
        width: 50%;
        height: 65px;
    }

    h2{
        margin-top: 15%;
    }
}

@media screen and (max-width: 676px) {
    h1{
        font-size: 55px;
    }

    input{
        font-size: 62px;
    }
}

@media screen and (max-width: 550px) {
    h1{
        margin-top: 10%;
        font-size: 50px;
    }

    h2{
        margin-top: 20%;
        font-size: 32px;
    }

    button{
        margin-top: 10%;
        font-size: 20px;
    }

    input{
        font-size: 55px;
    }

    p{
        margin-top: 12%;
    }
}